*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background: rgb(182, 181, 181);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: lighter;
}

svg{
    cursor: pointer;
}